# About i-views

<a href="https://i-views.com">
    <img src="http://documentation.i-views.com/5.0/assets/img/i-views-logo.svg" width="200" align="right">
</a>

[intelligent views gmbh](https://i-views.com) (i-views) is one of the leading providers of semantic
technologies and applications in the German-speaking region.  The company, which started
out in 1997 as a spin-off of the Fraunhofer  Society, has over 30 employees and is based
in Darmstadt, Germany. The  company produces the i-views Smart Data Engine, which provides
customers  with an easy and flexible way of creating smart data networks, thus  increasing the value of
their data.

If you want to know more about i-views, please have a look at the following web-sites:

* Tryout-Version and demo: https://i-views.com/de/smart-data-engine/demo-tryout/
* Technical Whitepaper: https://i-views.com/de/technical-whitepaper-download/
* Documentation (german): https://i-views.com/de/smart-data-engine/dokumentation/


# Purpose

In addition the our core-product, we provide a web-frontend called the `viewconfigmapper` that can be used and configured with our backend. The `{{package.name}}` helps you download and use this frontend in your own projects.

Please note that while the `{{package.name}}` is released under the MIT-License, most of the packages it downloads are under a propriatery license.

